.widgets {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.widgets td,
.widgets th {
  border: 1px solid #ddd;
  padding: 8px;
}

.widgets tr:nth-child(even) {
  background-color: #f2f2f2;
}

.widgets tr:hover {
  background-color: #ddd;
}

.widgets th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #497dbd;
  color: white;
}

.scrollctrl {
  overflow: auto;
  height: 100vh;
  width: 100vh;
}
